PLATFORM_DB_NAME=playwright_platform
PLATFORM_DB_USERNAME=root
PLATFORM_DB_PASSWORD=12345678
PLATFORM_MINIO_ACCESS_KEY=minioadmin
PLATFORM_MINIO_SECRET_KEY=minioadmin
PLATFORM_STORAGE_BUCKET=qa-report
