PLATFORM_DB_NAME=playwright_platform
PLATFORM_DB_USERNAME=change-me-db-username
PLATFORM_DB_PASSWORD=change-me-db-password
PLATFORM_REDIS_PASSWORD=change-me-redis-password
PLATFORM_MINIO_ACCESS_KEY=change-me-minio-access-key
PLATFORM_MINIO_SECRET_KEY=change-me-minio-secret-key
PLATFORM_STORAGE_BUCKET=qa-report
PLATFORM_RUNNER_MODE=docker
PLATFORM_RUNNER_WORKSPACE_ROOT=/workspace/.runner-workspaces
PLATFORM_RUNNER_DOCKER_IMAGE=mcr.microsoft.com/playwright:v1.44.0-jammy
PLATFORM_RUNNER_DOCKER_NETWORK=bridge
PLATFORM_RUNNER_DOCKER_MEMORY=2g
PLATFORM_RUNNER_DOCKER_CPUS=2
PLATFORM_RUNNER_DOCKER_CONTAINER_WORKSPACE_ROOT=/workspace/task
